html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* -------------------- END RESET -------------------- */

.App {
	text-align: center;
	font-family: 'VT323', monospace;
	background-color: black;
	height: 100vh;
	width: 100vw;
	overflow: hidden;
	display: grid;
	grid-template-columns: 1fr 50vw 1fr;
	grid-template-rows: 1fr 50vh 1fr;
	font-size: 24px;
	color: #39ff14;
	pointer-events: none;
}

.screen {
	position: absolute;
	background-color: rgba(57, 255, 20, .1);
	height: 100vh;
	width: 100vw;
	pointer-events: none;
	z-index: 5;
	overflow: hidden;
}

.screen-wiper {
	position: absolute;
	background-color: rgba(57, 255, 20, .1);
	width: 100%;
}

.wiper-1 {
	height: 30vh;
	animation: wipe 3s linear infinite;
}

.wiper-2 {
	animation: wipe 3s linear infinite;

}

.wiper-3 {
	height: 1vh;
	animation: wipe 2s linear infinite;
}

@keyframes wipe {
	0%{
		top: -100%;
	}

	100% {
		top: 100vh;
	}
}

.top-left {
	grid-row: 1 / 2;
	grid-column: 1 / 2;
}

.top-middle {
	grid-row: 1 / 2;
	grid-column: 2 / 3;
	display: flex;
}

.top-right {
	grid-row: 1 / 2;
	grid-column: 3 / 4;
}

.thumb-container {
	grid-row: 2 / 3;
	grid-column: 1 / 2;
}

.thumb-1 {
	height: 100%;
	display: flex;
}

.thumb-1 svg {
	height: 50%;
	width: 50%;
	margin: auto;
}

.thumb-2 {
	width: 100%;
	height: 100%;
	background-size: 50%;
	background-repeat: no-repeat;
	background-position: center;
	filter: invert(84%) sepia(44%) saturate(4065%) hue-rotate(58deg) brightness(100%) contrast(118%);
}

.hero-container {
	display: grid;
	grid-template-columns: 1fr 2fr;
	grid-column: 2 / 3;
	grid-row: 2 /3;
	width: 100%;
	height: 100%;
}

.image-container {
	grid-column: 1 / 2;
	height: 50vh;
	position: relative;
}

.hero-image{
	height: 50vh;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	filter: grayscale(100%) contrast(110%) sepia(200%) hue-rotate(90deg);
	z-index: -5;
}

.filter {
	background-color: rgba(57, 255, 20, .4);
	height: 50vh;
	width: 100%;
	z-index: 2;
	position: absolute;
}

.insert-1 {
	width: 100%;
	height: 20px;
	border-top: 5px solid #39ff14;
	border-left: 5px solid #39ff14;
	border-right: 5px solid #39ff14;
}

.insert-2 {
	width: 100%;
	height: 20px;
	border-left: 5px solid #39ff14;
	border-right: 5px solid #39ff14;
	border-bottom: 5px solid #39ff14;
}

.hero-information {
	grid-column: 2 / 3;
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	justify-content: space-between;
	align-items: flex-start;
	padding-left: 20px;
	text-align: left;
}

.hero-information p {
	padding-left: 20px;
}

.middle-right {
	grid-row: 2 / 3;
	grid-column: 3 / 4;
	position: relative;
	display: flex;
}

.globe {
	margin: auto;
}

.bottom-left {
	grid-row: 3 / 4;
	grid-column: 1 / 2;
}

.bottom-middle {
	grid-row: 3 / 4;
	grid-column: 2 / 3;
}

.bottom-right {
	grid-row: 3 / 4;
	grid-column: 3 / 4;
}

.search-bar {
	margin: auto;
	width: 80%;
	height: 40px;
	border: 5px solid #39ff14;
	display: flex;
	justify-content: center;
	overflow: hidden;
}

.search-bar span {
	margin: auto 0;
	display: flex;
	/* border: 1px solid orange; */
	justify-content: center;
	min-width: 10px;
}

.search-bar button {
	display: none;
}

.search-bar input {
	min-width: 10px;
	width: 1px;
	height: 1px;
	background-color: black;
	color: black;
	font-family: 'VT323', monospace;
	font-size: 24px;
	text-align: end;
	caret-color: black;
	display: hidden;
	box-shadow: none;
	outline: none;
	border: none;
}

.search-bar input:focus {
	outline: none;
	border: none;
	box-shadow: none;
	display: hidden;
}

.caret {
	height: 24px;
	width: 10px;
	background-color: #39ff14;
	margin: auto 0;
	animation-name: blink;
	animation-duration: 1000ms;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
}

@keyframes blink {
	0% { background-color: #39ff14; }
	49% { background-color: #39ff14; }
	50% { background-color: black; }
	100% { background-color: black; }
}

